$font-color: #2d2d2d;
$light-grey: #e4e4e7;
$tag-color: #FDFF9D;

.project-cards {
  margin-top: 56px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.project-card {
  border: 4px solid $font-color;
  border-radius: 16px;

  display: inline-block;
  padding-left: 44px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;

  text-align: left;
  max-width: 972px;
  width: 100%;

  overflow: hidden;
  position: relative;

  .highlight-color {
    background-color: $light-grey;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 100%;
  }

  a {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px
  }

  .tag {
    background-color: $tag-color;
    border: none;
    border-radius: 8px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
    padding: 4px 16px;
    font-size: 1rem;
    text-transform: none;

    &:last-of-type {
      margin-right: 0px;
    }
  }

  .to-project-btn {
    float: right;
    margin-bottom: 0px;
  }

  .card-arrow {
    width: 54px;
    height: auto;
  }

  .row {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 820px) {
  .project-cards {
    margin-top: 24px;
  }
  
  .project-card {
    padding-top: 21px;

    .row {
      display: inline-block;
    }
  }
}