.bottom-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;

  ul {
    width: 50%;
  }

  li {
    margin-bottom: 24px;

    span {
      font-size: .8rem;
      font-weight: bold;
    }
  }
}

.border-top {
  padding-top: 64px;
}

@media only screen and (max-width: 820px) {
  .bottom-nav {
    flex-direction: column;

    ul {
      width: 100%;
    }

    ul:first-of-type {
      border-bottom: 2px solid #2d2d2d;
      margin-bottom: 24px;
    }
  }
}