$link-color: #1CADFF;

.index-page {
  h3  {
    display: inline-block;
  }
}

.port-links a {
  display: inline-block;
  margin-right: 56px;
  color: #2d2d2d;
}

.port-links a:last-of-type {
  margin-right: 0px;
}

.port-links a:hover, .project-card a:hover {
    text-decoration: underline;
    color: $link-color;
}

.to-project-btn:hover {
  svg path {
    fill: $link-color;
  }
}

.project-card a {
  width: 100%;
}

.projects-carousel {
  margin-top: 100px;
  white-space: nowrap;
  overflow-x: auto;
  padding: 24px 0px 24px 0px;;

  .project {
    width: 556px;
    height: 300px;
    border-radius: 8px;
    margin-right: 56px;
    background-color: #e0e0e0;
  }

  h3 {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 16px 36px;
    margin-top: 24px;
  }

  ul {
    list-style: none;
    margin: 76px 0px 0px 0px;
    padding: 0;

    li {
      margin: 0px 36px 0px 0px;
      display: inline-block;
      padding: 8px 16px;
      color: #ffffff;
      font-weight: bold;
      background-color: #8a8a8a;
    }

    li:first-of-type {
      margin-left: 36px;
    }
  }

  .carousel-nav-link {
    display: inline-block;
    text-decoration: none;
  }
}

.project {
  &.fs-page {
    background-color: #66FF88;

    li {
      background-color: #2BB048;
    }
  }

  &.rb-page {
    background-color: #FFCA40;
  
    li {
      background-color: #F29B18;
    }
  }

  &.gov-rd {
    background-color: #66FF88;
  
    li {
      background-color: #2BB048;
    }
  }

  &.rsb-pl {
    background-color: #FFCA40;
  
    li {
      background-color: #F29B18;
    }
  }
}

.projects-wrapper {
  &.row {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: start;
  }
  
  .projects-legend {
    margin-top: 56px;
    position: fixed;

    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 16px;
      border-radius: 50%;
      border: 2px solid #2d2d2d;
      background-color: #66FF88;
    }

    span.dev {
      background-color: #FFCA40;
    }
  }
}

@media only screen and (max-width: 820px) {
  .port-links.pull-right {
    float: none;
    margin-top: 16px;
  }

  .projects-carousel {
    margin-top: 36px;
    
    p, li, a {
      font-size: 1rem;
    }

    h3 {
      padding: 8px 16px;
    }

    .project {
      width: 100%;
      height: auto;
      padding-bottom: 40px;

      ul {
        padding: 0px 36px;
        margin-top: 40px;
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
      }

      li {
        padding: 4px 8px;
        margin-right: 16px;
      }

      li:first-of-type {
        margin-left: 0px;
      }
    }

    .carousel-nav-link {
      display: block;
      margin-bottom: 20px;
    }

    .carousel-nav-link:last-of-type {
      margin-bottom: 0px;
    }
  }

  .project-card .tag {
    font-size: 0.875rem;
  }

  .projects-wrapper {
    &.row {
      flex-direction: column;
    }

    .projects-legend {
      position: initial;
      margin-top: 24px;
    }
  }
}