$link-color: #1CADFF;

nav.projects-nav, nav.nav-page {
  z-index: 2;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  //right: calc(var(--scrollbar-width) + 0px);
  border-bottom: 1px solid #e4e4e7;
  background-color: #ffffff;

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}

.fixed-nav {
  position: relative;
}

.projects-nav .fixed-nav {
  background-color: #ffffff;
}

.nav-page {
  position: fixed;
  bottom: 2%;
}

nav.nav-page {
  border-bottom: none;
  background-color: transparent;
}

.fixed-top {
  float: right;

  button {
    background-color: #66FF88;
    border: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}

.fixed-link, .fixed-top button {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 6px 8px;
  border: 2px solid #2d2d2d;
  background-color: #ffffff;
  border-radius: 8px;

  span {
    font-weight: bold;
    text-decoration: none;
    color: #2d2d2d;
    font-size: .8rem;
    vertical-align: middle;
  }

  img {
    margin-right: 16px;
    vertical-align: middle;
  }

  img.arrow-right, img.arrow-up {
    margin-left: 16px;
    margin-right: 0px;
  }
}

.fixed-link:hover {
  span {
    text-decoration: underline;
  }
}

.details.sandbox-styles .fixed-link,
.details.sandbox-styles .fixed-top button {
  background-color: #FFCA40;
}

.details.storybook-styles .fixed-link,
.details.storybook-styles .fixed-top button {
  background-color: #FFCA40;
}

.details.recipebook-styles .fixed-link,
.details.recipebook-styles .fixed-top button {
  background-color: #66FF88;
}

.details.govredesign-styles .fixed-link,
.details.govredesign-styles .fixed-top button {
  background-color: #66FF88;
}

.home-link {
  float: left;
}

.next-link {
  float: right;
}

.arrow-left, .arrow-up, .arrow-right, .arrow-right-long {
  width: 36px;
  height: auto;
}

.arrow-right {
  transform: rotate(180deg);
}

img {
  width: 100%;
}

.screenshot {
  border: 4px solid #e4e4e7;
  border-radius: 16px;
}

.zoom-in {
  cursor: zoom-in;
}

.logo {
  margin-right: 56px;
}

.logo:last-of-type {
  margin-right: 0px;
}

.blablacar-logo img {
  width: 256px;
  height: auto;
  margin-bottom: 15px;
}

.carworld-logo img {
  width: 124px;
  height: auto;
}

.ridejoy-logo img {
  width: 156px;
  height: auto;
  margin-top: 5px;
}

.project-bottom {
  min-height: 556px;
  width: 100%;
  background-color: #66FF88;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    span {
      vertical-align: middle;
      font-size: 2.25rem;
      text-decoration: none;
      font-weight: bold;
      margin-right: 100px;
    }
  }

  a:hover span {
    text-decoration: underline;
  }

  .arrow-right-long {
    width: 100px;
    height: auto;
  }
}

// .project-bottom.storybook-styles {
//   background-color: #83F5FF;
// }

// .project-bottom.fareshare-styles {
//   background-color: #ffca40;
// }

// .project-bottom.recipebook-styles {
//   background-color: #59a4ff;
// }

// .project-bottom.govredesign-styles {
//   background-color: #fd71ff;
// }

// .project-bottom.sandbox-styles {
//   background-color: #66FF88;
// }

.hero {
  display: flex;
}

.row div[class^='col-'].hero {
  margin: 0px;
  width: 100%;
}

.gov-page .row div[class^='col-'].hero {
  margin: 0px 2% 0px 0px;
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  padding-right: 56px;
  padding-left: 56px;

  a:hover {
    text-decoration: underline;
    color: $link-color;
  }
}

.hero-content, .hero-image {
  flex: 50 1;
}

.sb-page .hero-content, .sandbox-page .hero-content {
  width: 100%;
  justify-content: space-between;
}

.fareshare-page .hero-image {
  background-image: url("https://res.cloudinary.com/dkcdueneq/image/upload/v1739356979/final-designs_wdakeb.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.rb-page .hero-image {
  background-image: url("https://res.cloudinary.com/dkcdueneq/image/upload/v1739110076/pexels-ella-olsson-572949-1640777_1_k05zyi.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 100%;
}

div[class^='col-'] > div p:last-of-type {
  margin: 0px;
}

.row {
  display: flex;
  align-items: center;
}

.section-container {
  margin-bottom: 24px;
  // min-height: 556px;
  display: flex;
  align-items: center;
}

.logos-section {
  margin-top: 56px;
  margin-bottom: 24px;
}

.not-found .col-12 {
  min-height: 250px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    display: inline-block;
  }
}

.chevron {
  width: 30px;
  height: auto;
}


.glide__arrows {
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.glide__arrow:nth-of-type(2) {
  float: right;
}

.glide__bullets {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.glide__bullet {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 2px solid #d3d3d3;
  background-color: #d3d3d3;
  margin-right: 18px;
  cursor: pointer;
}

.glide__slides {
  display: flex;
  align-items: center;
}

.glide__bullet:last-of-type {
  margin-right: 0px;
}

.glide__arrows button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.gov-page, .sb-page, .sandbox-page {
  .hero-content {
    padding-right: 0px;

    & > div:first-of-type {
      padding-right: 56px;
    }
  }

  img {
    margin: 25px 0px;
    width: auto;
    height: 100vh;
    border-radius: 8px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.gov-page {
  img {
    width: 400px;
    height: auto;
  }
}

.sb-page, .sandbox-page {
  img {
    width: 500px;
    height: auto;
  }
}

.with-split-hero {
  flex-direction: column;
  align-items: center;
  min-width: 420px;

  .hero-top {
    flex-grow: 1;
    display: flex;
    background-color: #D4F5FF;
    width: 100%;
    height: 50vh;
    justify-content: center;

    img {
      width: 200px;
      align-self: center;
    }
  }

  .hero-bot {
    flex-grow: 1;
    display: flex;
    background-color: #FFDEEA;
    width: 100%;
    height: 50vh;
    justify-content: center;
    padding: 24px;

    img {
      width: 280px;
      align-self: center;
    }
  }
}

.sandbox-page {
  .with-split-hero {
    width: 50%;
    min-width: 360px;

    .hero-bot {
      background-color: #f7f7f7;
      img {
        width: 164px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .fareshare-page, .rb-page, .gov-page, .sb-page, .sandbox-page {
    margin-top: 24px;
  }

  .row {
    display: initial;
  }

  // .hero-content {
  //   padding-top: 112px;
  // }

  .row div[class^='col-'].hero {
    margin: .5rem 2%;
    width: 96%;
    
    .hero-content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .header-mobile .text-center {
    text-align: left !important;
  }

  .blablacar-logo img {
    width: 124px;
    height: auto;
    margin-bottom: 15px;
  }

  .carworld-logo img {
    width: 76px;
    height: auto;
  }

  .ridejoy-logo img {
    width: 76px;
    height: auto;
    margin-top: 5px;
  }

  .logos-section{
    flex-direction: column;
  }

  .logo {
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .logo:last-of-type {
    margin-bottom: 0px;
  }

  .project-bottom {
    min-height: 256px;

    .arrow-right-long {
      width: 56px;
    }

    a span {
        font-size: 1.5rem;
        margin-right: 24px;
    }
  }

  .gov-page, .sb-page, .sandbox-page {

    .hero-content div:first-of-type {
      padding-right: 0px;
    }
  }
  .gov-page {
    .hero-content {
      height: auto;
    }
  }
  .gov-page .row div[class^='col-'].hero {
    margin: .5rem 2%;
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) {
  .gov-page .hero-content img {
    width: auto;
    height: 80vh
  }

  .sb-page .with-split-hero {
    width: 50%;
  }

  .sandbox-page .with-split-hero {
    width: 50%;
  }
}